{% load static %}
    <link rel="stylesheet" href="{% static '/Css/footer.css' %}">
    <section class="footer" id="footer">
	
	
        <div class="footer-contents">
            
            <div class="footer-col footer-col-1">
                <div class="col-title">
                    <img src="{% static 'images/TangoLogo.png' %}">
                </div>
                <div class="col-contents">
                    <p>Tango Six O'Clock is your Armory. Whether you are an individual, family, society, institution, corporation, or state, we offer whatever you need to secure and defend yourself and your assets against all malicious intent or actions. 

                    Let's join forces to make Bharat Secure and Safe from within.</p>
                </div>
            </div>
    
            {% comment %} <div class="footer-col footer-col-2">
                <div class="col-title">
                    <h3>Contact</h3>
                </div>
                <div class="col-contents">
                    <div class="contact-row">
                        <span>Address</span>
                        <span>G-405, Sispal Vihar (AWHO), Sohna Road, Gurugram, Haryana, India-122018</span>
                    </div>
                    <div class="contact-row">
                        <span>Phone</span>
                        <span>+91 8287725661 (Ops - PAN India)</span>
                        <span>+91 8828742806 (Ops - Central and West India)</span>
                        <span>+91 7893139577 (Ops - South India) </span>
                            
                    </div>
                    <div class="contact-row">
                        <span>Website</span>
                        <span>www.tangosixoclock.in</span>
                    </div>
                    <div class="contact-row">
                        <span>Email</span>
                        <span>info@tangosixoclock.in</span>
                    </div>
                </div>
            </div> {% endcomment %}
    
            <div class="footer-col footer-col-3">
                <div class="col-title">
                    <h3>Quick Links</h3>
                </div>
                <div class="col-contents">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'about' %}">About Us</a>
                    {% comment %} <a href="#">Courses</a> {% endcomment %}
                    <a href="{% url 'contact' %}">Contact Us</a>
                    <a href="{% url 'newsletter' %}">Blogs</a>
                </div>
            </div>

            <div class="footer-col footer-col-3">
                <div class="col-title">
                    <h3>Policies</h3>
                </div>
                <div class="col-contents">
                    <a href="{% url 'term_condition' %}">Terms and Conditions</a>
                    <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                    <a href="{% url 'return_policy' %}">Return Policy</a>
                    <a href="{% url 'testimonial_policy' %}">No Testimonial Policy</a>
                    
                </div>
            </div>
    
            {% comment %} <div class="footer-col footer-col-4">
                <div class="col-title">
                    <h3>Newsletter</h3>
                </div>
                <div class="col-contents">
                    <form class="newsletter">
                        <input type="email" placeholder="Your Email">
                        <button class="newsletter-btn btn" type="submit">Subscribe</button>
                    </form>
                </div>
            </div> {% endcomment %}
    
        </div>
        <div class="copy-rights">
            <p> &copy Created By <b>Tango Six O'Clock</b> | All Rights Reserved</p>
        </div>
    
    </section>
