{% extends "tango/base.html" %}
{% load static %}
{% block title %} | Blogs{% endblock title %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/Css/newsletter.css' %}">
<div class="heading">
    {% comment %}<h1>Security 101</h1>
    <p>An attempt to sensitise readers on the subject of security and safety. 
      Follow #CRSpeaks and #Security101_Newsletter on LinkedIn for more...
  </p> {% endcomment %}
</div>
<div class="section">
    <div class="card">
        <div class="image-section image-one"></div>
        <div class="content">
            <h2>Security Culture vs Criminal and Terrorist Threats</h2>
            <p>
                It is the advice that I’ve given to my friends and family. 
                The efficacy of the advice is directly proportional to the seriousness with which you will adhere to the advice. 
                Your mental and physical preparedness will play a critical role in you being able to apply the tactics in real life during stressful conditions. <a href="https://www.linkedin.com/pulse/security-culture-vs-criminal-terrorist-threats-chakradhari-rowe-0kaoc/?trk=news-guest_share-article">Read More</a>
            </p>
           
        </div>
    </div>
    <div class="card">
        <div class="image-section image-two"></div>
        <div class="content">
            <h2>Violence - It's Here To Stay</h2>
            <p>
                We studied about the cavemen. They took refuge inside caves to protect themselves from the violent wild creatures. 
                But this was only until man learnt to intimidate the wild with his controlled violence, in his defence. <a href="https://www.linkedin.com/pulse/violence-its-here-stay-chakradhari-rowe-pr32c?trk=news-guest_share-article">Read More</a>
            </p>
           
        </div>
    </div>
    <div class="card">
        <div class="image-section image-three"></div>
        <div class="content">
            <h2>Conversations with AI on Dharma, Varna and More...</h2>
            <p>
                This article is a read on conversations with artificial intelligence on dharma, varna, mantras and much more.
                I recently had a conversation. Sharing the conversation for the social good. <a href="https://www.linkedin.com/pulse/conversations-ai-dharma-varna-more-chakradhari-rowe?trk=news-guest_share-article">Read More</a>
            </p>
           
        </div>
    </div>
    <div class="card">
        <div class="image-section image-four"></div>
        <div class="content">
            <h2>Vanity vs Virtue</h2>
            <p>
                Here's a story that left a strong impact on my character a couple of decades back. 
                It took me sometime to make peace with how I am going to let this story impact my thoughts, feelings, actions and their collective outcome. <a href="https://www.linkedin.com/pulse/vanity-vs-virtue-chakradhari-rowe?trk=news-guest_share-article" >Read More</a>
            </p>
           
        </div>
    </div>
    <div class="card">
        <div class="image-section image-five"></div>
        <div class="content">
            <h2>Community Policing.....Need of The Hour - PART I</h2>
            <p>
                We have lost many lives in the recent past to crime committed in public spaces. 
                I am terribly bad in beating around the bush and sugar coating my advice. 
                However, it must be noted that I am responsible for what I write and NOT for how my written is understood or interpreted. <a href="https://www.linkedin.com/pulse/community-policingneed-hour-part-i-chakradhari-rowe?trk=news-guest_share-article">Read More</a>
            </p>
           
        </div>
    </div>
</div>
{% endblock content %}
