{% extends "tango/base.html" %}
{% load static %}
{% block title %} | Terms and Conditions{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/Css/privacy.css' %}">
 <br>
 <br>
 <br>
 <div class="container">
    <h1>TERMS & CONDITIONS</h1>
    <br>
    <p>Welcome to tangosixoclock.in (“Website/Company”). Please read the following terms and conditions very carefully as your purchase of courses are subject to your acceptance of and compliance with the following terms and conditions (“Terms”).</p>

    <p>By purchasing the course through any computer, mobile phone or tablet or any electronic gadget, you agree that you have read, understood and are bound by the Terms.</p>

    <p>These terms and various other policies are binding upon you as per the provisions of the Information Technology (Intermediaries guidelines) Rules, 2011 formulated under the Information Technology Act of 2000.</p>

    <h2>1. Orders, Payments, and Delivery</h2>
    <p>1.1 Once you purchase a course, you will get the link to the course within 10 minutes of purchase. In case of any queries, you can always send an email to <a href="mailto:support@tangosixoclock.in">support@tangosixoclock.in</a>.</p>
    <p>1.2 The access to all the courses you have purchased on www.tangosixoclock.in, is available for a period of 365 days from the date of purchace of your latest course. You can view it as many times as you want, for however long that you want.</p>

    <h2>2. Refund/Cancellations</h2>
    <p>2.1 All courses come with a 3-day refund request window, starting from the date of the purchase. At any point during these 3 days, write to <a href="mail:support@tangosixoclock.in">support@tangosixoclock.in</a> with your refund request.</p>
    <p>2.2 Refund requests will be approved/rejected on a case to case basis at the sole discretion of the Company.</p>
    <p>2.3 If a refund request is approved, the money will be returned to your original payment mode within 5-7 business working days from the date of approval.</p>
    <p>2.4 Once rejected, refund requests cannot be resubmitted.</p>
    <p>2.5 Refund requests will not be considered after the 3-day refund-request window (as mentioned in 2.1) has elapsed.</p>

    <h2>3. Privacy</h2>
    <p>3.1 Privacy Policy: – Please review our privacy policy which governs your purchase of the course to fully understand our practices.</p>
    <p>3.2 The User hereby consents, expresses and agrees that he has read and fully understands the Privacy Policy of the website herein. The user further consents that the terms and contents of such Privacy Policy herein are acceptable to them.</p>
</div>

<br>
  {% endblock %}